.node-red/.flows_raspberrypi.json.backup
[{"id":"70999eba.a8373","type":"tab","label":"Flow 1"},{"id":"10374ee7.0ad6b1","type":"websocket-listener","z":"","path":"/ws/shutdown","wholemsg":"false"},{"id":"8c0ec30e.c4bb9","type":"websocket-client","z":"","path":"ws://192.168.2.100:1880/ws/schaltpult","wholemsg":"false"},{"id":"a8faf616.c76988","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":232.197021484375,"y":35.375,"wires":[["fd88e586.fc1a68"]]},{"id":"fd88e586.fc1a68","type":"exec","z":"70999eba.a8373","command":"sudo shutdown -Ph 0","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":392.23992919921875,"y":34.97599792480469,"wires":[["ca927afd.3a7178"],[],[]]},{"id":"ca927afd.3a7178","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":581.2769470214844,"y":22.19800567626953,"wires":[]},{"id":"783368a8.8c1af8","type":"comment","z":"70999eba.a8373","name":"Shutdown","info":"","x":67.5,"y":34.03599548339844,"wires":[]},{"id":"ff8428e4.27d198","type":"websocket in","z":"70999eba.a8373","name":"Shutdown","server":"10374ee7.0ad6b1","client":"","x":231.38201904296875,"y":77.10697174072266,"wires":[["fd88e586.fc1a68","ca927afd.3a7178"]]},{"id":"cf651286.ec5fa","type":"comment","z":"70999eba.a8373","name":"GPIO","info":"","x":65.02301025390625,"y":147.16000366210938,"wires":[]},{"id":"afc12ccd.def9a","type":"rpi-gpio in","z":"70999eba.a8373","name":"GPIO4 - Pin 7","pin":"7","intype":"up","debounce":"25","read":false,"x":214.260986328125,"y":144.79400634765625,"wires":[[]]},{"id":"4a0c52b8.ba0d7c","type":"websocket out","z":"70999eba.a8373","name":"zum Brett","server":"","client":"8c0ec30e.c4bb9","x":578.1620178222656,"y":147.708984375,"wires":[]},{"id":"f51ea478.5e9168","type":"file in","z":"70999eba.a8373","name":"","filename":".node-red/flows_raspberrypi.json","format":"utf8","x":485.08892822265625,"y":225.82305908203125,"wires":[["aac358c5.3fced8"]]},{"id":"3fb146ef.31751a","type":"comment","z":"70999eba.a8373","name":"flow","info":"","x":70.114990234375,"y":224.3889923095703,"wires":[]},{"id":"4f6b31f8.0001b","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":226.12002563476562,"y":221.91897583007812,"wires":[["f51ea478.5e9168"]]},{"id":"a17c6121.2af53","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":1128.7138366699219,"y":226.04302978515625,"wires":[]},{"id":"aac358c5.3fced8","type":"json","z":"70999eba.a8373","name":"","x":719.9700164794922,"y":224.79000854492188,"wires":[["7d285ef1.10964"]]},{"id":"7d285ef1.10964","type":"function","z":"70999eba.a8373","name":"","func":"msg.payload=msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"x":925.1500549316406,"y":228.5340118408203,"wires":[["a17c6121.2af53"]]}]