.node-red/.flows_raspberrypi.json.backup
[{"id":"70999eba.a8373","type":"tab","label":"Flow 1"},{"id":"c2b3598e.b89218","type":"tab","label":"Flow 2"},{"id":"10374ee7.0ad6b1","type":"websocket-listener","z":"","path":"/ws/shutdown","wholemsg":"false"},{"id":"8c0ec30e.c4bb9","type":"websocket-client","z":"","path":"ws://192.168.2.100:1880/ws/schaltpult","wholemsg":"false"},{"id":"f31eba8c.b366e8","type":"websocket-listener","z":"","path":"/ws/gap","wholemsg":"false"},{"id":"a8faf616.c76988","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":232.197021484375,"y":35.375,"wires":[["fd88e586.fc1a68"]]},{"id":"fd88e586.fc1a68","type":"exec","z":"70999eba.a8373","command":"sudo shutdown -Ph 0","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":392.23992919921875,"y":34.97599792480469,"wires":[["ca927afd.3a7178"],[],[]]},{"id":"ca927afd.3a7178","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":581.2769470214844,"y":22.19800567626953,"wires":[]},{"id":"783368a8.8c1af8","type":"comment","z":"70999eba.a8373","name":"Shutdown","info":"","x":67.5,"y":34.03599548339844,"wires":[]},{"id":"ff8428e4.27d198","type":"websocket in","z":"70999eba.a8373","name":"Shutdown","server":"10374ee7.0ad6b1","client":"","x":235.85903930664062,"y":72.5679702758789,"wires":[["fd88e586.fc1a68","ca927afd.3a7178"]]},{"id":"cf651286.ec5fa","type":"comment","z":"70999eba.a8373","name":"GPIO","info":"","x":65.02301025390625,"y":147.16000366210938,"wires":[]},{"id":"afc12ccd.def9a","type":"rpi-gpio in","z":"70999eba.a8373","name":"GPIO4 - Pin 7","pin":"7","intype":"up","debounce":"25","read":false,"x":214.260986328125,"y":144.79400634765625,"wires":[[]]},{"id":"4a0c52b8.ba0d7c","type":"websocket out","z":"70999eba.a8373","name":"zum Brett","server":"","client":"8c0ec30e.c4bb9","x":578.1620178222656,"y":147.708984375,"wires":[]},{"id":"f51ea478.5e9168","type":"file in","z":"70999eba.a8373","name":"","filename":".node-red/flows_raspberrypi.json","format":"utf8","x":484.178955078125,"y":221.01705932617188,"wires":[["aac358c5.3fced8"]]},{"id":"3fb146ef.31751a","type":"comment","z":"70999eba.a8373","name":"flow","info":"","x":70.114990234375,"y":224.3889923095703,"wires":[]},{"id":"4f6b31f8.0001b","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":226.12002563476562,"y":221.91897583007812,"wires":[["f51ea478.5e9168"]]},{"id":"a17c6121.2af53","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":1130.9699096679688,"y":223.21902465820312,"wires":[]},{"id":"aac358c5.3fced8","type":"json","z":"70999eba.a8373","name":"","x":719.9700164794922,"y":224.79000854492188,"wires":[["7d285ef1.10964"]]},{"id":"7d285ef1.10964","type":"function","z":"70999eba.a8373","name":"","func":"msg.payload=msg.payload;//[1];\nreturn msg;","outputs":1,"noerr":0,"x":918.8811340332031,"y":223.5740203857422,"wires":[["a17c6121.2af53"]]},{"id":"f58eaf21.c3e85","type":"websocket in","z":"c2b3598e.b89218","name":"","server":"f31eba8c.b366e8","client":"","x":71.5,"y":317,"wires":[["590beb87.11bb14"]]},{"id":"96ebe2e.45b102","type":"websocket out","z":"c2b3598e.b89218","name":"","server":"f31eba8c.b366e8","client":"","x":397.1260070800781,"y":374.4540100097656,"wires":[]},{"id":"590beb87.11bb14","type":"exec","z":"c2b3598e.b89218","command":"gap -L GAP_WORKSPACE <<<\"100*100;quit;#EOF\"","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":399.41796875,"y":317.8090133666992,"wires":[["76620e39.4d669"],["76620e39.4d669"],["76620e39.4d669"]]},{"id":"76620e39.4d669","type":"debug","z":"c2b3598e.b89218","name":"","active":true,"console":"false","complete":"false","x":637.8140563964844,"y":293.0570068359375,"wires":[]},{"id":"8bb8fedf.caccc","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"100*100;#EOF","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.09799194335938,"y":384.99998474121094,"wires":[["590beb87.11bb14"]]},{"id":"eb3acf7a.5ec49","type":"daemon","z":"c2b3598e.b89218","command":"gap","args":"-L GAP_WORKSPACE","cr":true,"redo":true,"op":"buffer","name":"","x":115.34001159667969,"y":136.21599578857422,"wires":[["9dc54d01.08866"],["9dc54d01.08866"],["9dc54d01.08866"]]},{"id":"9dc54d01.08866","type":"debug","z":"c2b3598e.b89218","name":"","active":true,"console":"false","complete":"false","x":278.8179931640625,"y":126.8800048828125,"wires":[]},{"id":"148902c8.2c714d","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"100*100;","payloadType":"str","repeat":"","crontab":"","once":false,"x":127.98100280761719,"y":55,"wires":[["eb3acf7a.5ec49"]]},{"id":"190fc543.a2fc0b","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"100^100;","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.33299255371094,"y":20,"wires":[["eb3acf7a.5ec49"]]}]