.node-red/flows_Modellbahnpult.json
[{"id":"70999eba.a8373","type":"tab","label":"Flow 1"},{"id":"c2b3598e.b89218","type":"tab","label":"Flow 2","disabled":false},{"id":"34c35086.53435","type":"tab","label":"Flow 3"},{"id":"5f0f1e4.15543e","type":"tab","label":"Flow 4"},{"id":"ce7c87b0.391008","type":"tab","label":"Flow 6"},{"id":"8c0ec30e.c4bb9","type":"websocket-client","z":"","path":"ws://Modellbahnbrett:1880/ws/gpio","wholemsg":"false"},{"id":"f31eba8c.b366e8","type":"websocket-listener","z":"","path":"/ws/gap","wholemsg":"false"},{"id":"35d91a7f.15f336","type":"websocket-listener","z":"","path":"/ws/logfile","wholemsg":"false"},{"id":"b2c9e23.b31e62","type":"websocket-listener","z":"","path":"/ws/ssh","wholemsg":"false"},{"id":"cf651286.ec5fa","type":"comment","z":"70999eba.a8373","name":"GPIO","info":"","x":50,"y":180,"wires":[]},{"id":"afc12ccd.def9a","type":"rpi-gpio in","z":"70999eba.a8373","name":"Umleitung Pin 7 auf Pin 11","pin":"11","intype":"up","debounce":"10","read":true,"x":250,"y":180,"wires":[["9451c2df.82d97"]]},{"id":"4a0c52b8.ba0d7c","type":"websocket out","z":"70999eba.a8373","name":"zum Brett","server":"","client":"8c0ec30e.c4bb9","x":580,"y":380,"wires":[]},{"id":"f51ea478.5e9168","type":"file in","z":"70999eba.a8373","name":"","filename":"/home/pi/.node-red/flows_Modellbahnpult.json","format":"utf8","sendError":false,"x":500,"y":480,"wires":[["aac358c5.3fced8"]]},{"id":"3fb146ef.31751a","type":"comment","z":"70999eba.a8373","name":"flow","info":"","x":50,"y":480,"wires":[]},{"id":"4f6b31f8.0001b","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":480,"wires":[["f51ea478.5e9168"]]},{"id":"a17c6121.2af53","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":1090,"y":480,"wires":[]},{"id":"aac358c5.3fced8","type":"json","z":"70999eba.a8373","name":"","x":770,"y":480,"wires":[["7d285ef1.10964"]]},{"id":"7d285ef1.10964","type":"function","z":"70999eba.a8373","name":"","func":"msg.payload=msg.payload;//[1];\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":480,"wires":[["a17c6121.2af53"]]},{"id":"d49429dc.67d418","type":"websocket in","z":"c2b3598e.b89218","name":"","server":"f31eba8c.b366e8","client":"","x":210,"y":120,"wires":[["4d333645.38b428"]]},{"id":"4509e5aa.330bbc","type":"daemon","z":"c2b3598e.b89218","command":"gap","args":"-L GAP_WORKSPACE","cr":true,"redo":true,"op":"string","name":"","x":530,"y":120,"wires":[["e5823f07.5ad24","a7f9e42b.9c1cd8"],["f2216525.6a2888"],["468a462f.22fa68"]]},{"id":"e5823f07.5ad24","type":"debug","z":"c2b3598e.b89218","name":"stdout","active":true,"console":"true","complete":"payload","x":720,"y":160,"wires":[]},{"id":"7731dbed.1d7934","type":"inject","z":"c2b3598e.b89218","name":"Print(100*100,\"\\n\",100^100);","topic":"","payload":"Print(100*100,\"\\n\",100^100);","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":40,"wires":[["4509e5aa.330bbc"]]},{"id":"a7f9e42b.9c1cd8","type":"websocket out","z":"c2b3598e.b89218","name":"","server":"f31eba8c.b366e8","client":"","x":730,"y":100,"wires":[]},{"id":"e368b5a.5ccc048","type":"comment","z":"c2b3598e.b89218","name":"gap","info":"","x":50,"y":40,"wires":[]},{"id":"ca562d5.372d7d","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"QUIT;","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":180,"wires":[["4d333645.38b428"]]},{"id":"4d333645.38b428","type":"function","z":"c2b3598e.b89218","name":"SIGQUIT","func":"if (msg.payload==\"QUIT;\") {\n      delete msg.payload;\n  msg.kill=\"SIGQUIT\";\n  }\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["4509e5aa.330bbc","eab0545f.d01548"]]},{"id":"9b6c196e.7222c8","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0:0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":340,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"823a2d38.b69a2","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0:5","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":380,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"96f8d4a2.b91d58","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0:100","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":420,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"aec877c0.740138","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":890,"y":120,"wires":[]},{"id":"9f85c583.f6dd68","type":"websocket out","z":"70999eba.a8373","name":"","server":"35d91a7f.15f336","client":"","x":960,"y":180,"wires":[]},{"id":"8fdb65f1.47e308","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":240,"wires":[["f55f2da4.4a45e"]]},{"id":"902329d4.991938","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":280,"wires":[["f55f2da4.4a45e"]]},{"id":"9451c2df.82d97","type":"rbe","z":"70999eba.a8373","name":"","func":"rbe","gap":"","start":"","inout":"out","x":450,"y":180,"wires":[["f55f2da4.4a45e"]]},{"id":"db129fed.8e04d","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"df","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":800,"wires":[["fce02499.d4da28"]]},{"id":"21020eec.02bad2","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"exit","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":880,"wires":[["fce02499.d4da28"]]},{"id":"86acd1ab.cc4a2","type":"websocket in","z":"70999eba.a8373","name":"","server":"b2c9e23.b31e62","client":"","x":230,"y":700,"wires":[["fce02499.d4da28"]]},{"id":"5f4e5ecf.ffa18","type":"websocket out","z":"70999eba.a8373","name":"","server":"b2c9e23.b31e62","client":"","x":680,"y":680,"wires":[]},{"id":"59a6f023.aaafb","type":"comment","z":"34c35086.53435","name":"Kartoffelpreis","info":"","x":70,"y":20,"wires":[]},{"id":"9a8e75d.df3f288","type":"function","z":"34c35086.53435","name":"table","func":"var pos=msg.payload.indexOf(\"zum Vortag\")+116;\nvar pos2=msg.payload.indexOf(\"<\",pos);\nvar Kartoffelpreis=msg.payload.slice(pos,pos2);\nglobal.set(\"Kartoffelpreis\",Kartoffelpreis);\nnode.status({text:Kartoffelpreis});\nmsg.payload=Kartoffelpreis;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":20,"wires":[["a53b0669.10eb88"]]},{"id":"5f0750ac.0701a","type":"http request","z":"34c35086.53435","name":"","method":"GET","ret":"txt","url":"http://www.raiffeisen.com/markt/telegramm/produkt/eurex/kartoffeln","tls":"","x":430,"y":20,"wires":[["9a8e75d.df3f288"]]},{"id":"a53b0669.10eb88","type":"debug","z":"34c35086.53435","name":"","active":true,"console":"true","complete":"payload","x":790,"y":20,"wires":[]},{"id":"7f687f7b.70b7c","type":"inject","z":"34c35086.53435","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":250,"y":20,"wires":[["5f0750ac.0701a"]]},{"id":"240b8385.b1cb6c","type":"comment","z":"34c35086.53435","name":"Email","info":"","x":50,"y":80,"wires":[]},{"id":"c6de0a17.724d48","type":"debug","z":"34c35086.53435","name":"","active":true,"console":"true","complete":"payload","x":370,"y":80,"wires":[]},{"id":"f55f2da4.4a45e","type":"function","z":"70999eba.a8373","name":"macht aus \"1\" \"0:0\" und aus \"0\" \"0:10\"","func":"if (msg.payload==\"1\") {\n  msg.payload=\"0:0\";\n  } else {\n    msg.payload=\"0:10\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["aec877c0.740138","9f85c583.f6dd68","4a0c52b8.ba0d7c"]]},{"id":"e4adf14f.0d275","type":"http request","z":"34c35086.53435","name":"","method":"GET","ret":"txt","url":"http://www.grs-batterien.de","tls":"","x":390,"y":140,"wires":[["f6168d85.4fe53"]]},{"id":"d24399f3.6b2498","type":"inject","z":"34c35086.53435","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"x":210,"y":140,"wires":[["e4adf14f.0d275"]]},{"id":"8831c34e.0c6ee","type":"debug","z":"34c35086.53435","name":"","active":true,"console":"false","complete":"false","x":730,"y":140,"wires":[]},{"id":"f6168d85.4fe53","type":"function","z":"34c35086.53435","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["8831c34e.0c6ee"]]},{"id":"31bae879.76eaa8","type":"comment","z":"34c35086.53435","name":"GRS","info":"","x":50,"y":140,"wires":[]},{"id":"22f5ea4c.8ef4d6","type":"http in","z":"c2b3598e.b89218","name":"","url":"/index.html","method":"get","swaggerDoc":"","x":220,"y":400,"wires":[["5d9fe724.6eeb28","541f3851.b468b8"]]},{"id":"6d9b0e2f.87f7f","type":"comment","z":"c2b3598e.b89218","name":"http","info":"http","x":70,"y":400,"wires":[]},{"id":"5d9fe724.6eeb28","type":"file in","z":"c2b3598e.b89218","name":"","filename":"/home/pi/index.html","format":"utf8","x":440,"y":400,"wires":[["5dd3fe9d.b987b"]]},{"id":"5dd3fe9d.b987b","type":"http response","z":"c2b3598e.b89218","name":"","x":630,"y":400,"wires":[]},{"id":"541f3851.b468b8","type":"debug","z":"c2b3598e.b89218","name":"","active":true,"console":"true","complete":"payload","x":410,"y":440,"wires":[]},{"id":"e16784d1.ac2ad8","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"ls","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":760,"wires":[["fce02499.d4da28"]]},{"id":"15436ee3.9581e1","type":"comment","z":"70999eba.a8373","name":"ssh","info":"","x":50,"y":700,"wires":[]},{"id":"fce02499.d4da28","type":"daemon","z":"70999eba.a8373","command":"ssh","args":"pi@localhost","cr":true,"redo":true,"op":"string","name":"ssh pi@localhost","x":450,"y":700,"wires":[["92ab3549.914f68","5f4e5ecf.ffa18"],["92ab3549.914f68"],["92ab3549.914f68"]]},{"id":"92ab3549.914f68","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":670,"y":740,"wires":[]},{"id":"49e962b5.073abc","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"pigs br1 br2","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":840,"wires":[["fce02499.d4da28"]]},{"id":"f2216525.6a2888","type":"debug","z":"c2b3598e.b89218","name":"stderr ","active":true,"console":"true","complete":"payload","x":720,"y":200,"wires":[]},{"id":"eb4a768b.d5ca58","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"Print(10^1341);","payloadType":"str","repeat":"","crontab":"","once":false,"x":240,"y":80,"wires":[["4509e5aa.330bbc"]]},{"id":"d2ea3f02.5f8c5","type":"daemon","z":"5f0f1e4.15543e","command":"ed","args":"","cr":true,"redo":true,"op":"string","name":"","x":330,"y":60,"wires":[["46c8e706.455af8"],["fbe75de0.59ece"],[]]},{"id":"46c8e706.455af8","type":"debug","z":"5f0f1e4.15543e","name":"","active":true,"console":"false","complete":"false","x":490,"y":40,"wires":[]},{"id":"fbe75de0.59ece","type":"debug","z":"5f0f1e4.15543e","name":"","active":true,"console":"false","complete":"false","x":490,"y":80,"wires":[]},{"id":"d5b6b7e3.1c4d78","type":"inject","z":"5f0f1e4.15543e","name":"","topic":"","payload":"! dc -e \"10 1341^p\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":60,"wires":[["d2ea3f02.5f8c5"]]},{"id":"eab0545f.d01548","type":"debug","z":"c2b3598e.b89218","name":"","active":true,"console":"true","complete":"true","x":720,"y":280,"wires":[]},{"id":"468a462f.22fa68","type":"debug","z":"c2b3598e.b89218","name":"return code","active":true,"console":"true","complete":"payload","x":740,"y":240,"wires":[]},{"id":"d5dc159e.36ee18","type":"e-mail in","z":"34c35086.53435","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"None","repeat":"300","x":170,"y":80,"wires":[["c6de0a17.724d48"]]},{"id":"7f95d29c.59e38c","type":"inject","z":"ce7c87b0.391008","name":"","topic":"","payload":"Print(10^1340);","payloadType":"str","repeat":"","crontab":"","once":false,"x":265,"y":73,"wires":[["c3f8f9e5.a42268"]]},{"id":"c3f8f9e5.a42268","type":"daemon","z":"ce7c87b0.391008","command":"gap","args":"-x 1343 -L GAP_WORKSPACE","cr":true,"redo":true,"op":"string","name":"","x":455,"y":113,"wires":[["f51e67a2.33f778"],["a884ed50.51661"],["11dbd4bb.2da13b"]]},{"id":"f51e67a2.33f778","type":"debug","z":"ce7c87b0.391008","name":"stdout","active":true,"console":"true","complete":"payload","x":625,"y":73,"wires":[]},{"id":"a884ed50.51661","type":"debug","z":"ce7c87b0.391008","name":"stderr","active":true,"console":"true","complete":"payload","x":625,"y":113,"wires":[]},{"id":"11dbd4bb.2da13b","type":"debug","z":"ce7c87b0.391008","name":"retcode","active":true,"console":"true","complete":"payload","x":635,"y":153,"wires":[]},{"id":"68a1e39.05ea91c","type":"inject","z":"ce7c87b0.391008","name":"","topic":"","payload":"Print(10^1341);","payloadType":"str","repeat":"","crontab":"","once":false,"x":265,"y":153,"wires":[["c3f8f9e5.a42268"]]},{"id":"a9fbf2cf.dc4be","type":"comment","z":"ce7c87b0.391008","name":"ok","info":"","x":55,"y":73,"wires":[]},{"id":"b4ba8c0a.db441","type":"comment","z":"ce7c87b0.391008","name":"error:","info":"","x":95,"y":153,"wires":[]},{"id":"fb42ef3.7e0651","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"1:0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":540,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"dd08a7a8.baffc8","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"1:1","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":580,"wires":[["4a0c52b8.ba0d7c"]]}]