.node-red/flows_Modellbahnpult.json
[{"id":"70999eba.a8373","type":"tab","label":"Flow 1"},{"id":"c2b3598e.b89218","type":"tab","label":"Flow 2","disabled":false},{"id":"8c0ec30e.c4bb9","type":"websocket-client","z":"","path":"ws://Modellbahnbrett:1880/ws/gpio","wholemsg":"false"},{"id":"f31eba8c.b366e8","type":"websocket-listener","z":"","path":"/ws/gap","wholemsg":"false"},{"id":"35d91a7f.15f336","type":"websocket-listener","z":"","path":"/ws/logfile","wholemsg":"false"},{"id":"b2c9e23.b31e62","type":"websocket-listener","z":"","path":"/ws/ssh","wholemsg":"false"},{"id":"cf651286.ec5fa","type":"comment","z":"70999eba.a8373","name":"GPIO","info":"","x":50,"y":180,"wires":[]},{"id":"afc12ccd.def9a","type":"rpi-gpio in","z":"70999eba.a8373","name":"Umleitung Pin 7 auf Pin 11","pin":"11","intype":"up","debounce":"10","read":true,"x":250,"y":180,"wires":[["9451c2df.82d97"]]},{"id":"4a0c52b8.ba0d7c","type":"websocket out","z":"70999eba.a8373","name":"zum Brett","server":"","client":"8c0ec30e.c4bb9","x":580,"y":380,"wires":[]},{"id":"f51ea478.5e9168","type":"file in","z":"70999eba.a8373","name":"","filename":"/home/pi/.node-red/flows_Modellbahnpult.json","format":"utf8","sendError":false,"x":500,"y":480,"wires":[["aac358c5.3fced8"]]},{"id":"3fb146ef.31751a","type":"comment","z":"70999eba.a8373","name":"flow","info":"","x":50,"y":480,"wires":[]},{"id":"4f6b31f8.0001b","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":480,"wires":[["f51ea478.5e9168"]]},{"id":"a17c6121.2af53","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":1090,"y":480,"wires":[]},{"id":"aac358c5.3fced8","type":"json","z":"70999eba.a8373","name":"","x":770,"y":480,"wires":[["7d285ef1.10964"]]},{"id":"7d285ef1.10964","type":"function","z":"70999eba.a8373","name":"","func":"msg.payload=msg.payload;//[1];\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":480,"wires":[["a17c6121.2af53"]]},{"id":"d49429dc.67d418","type":"websocket in","z":"c2b3598e.b89218","name":"","server":"f31eba8c.b366e8","client":"","x":170,"y":100,"wires":[["4d333645.38b428"]]},{"id":"4509e5aa.330bbc","type":"daemon","z":"c2b3598e.b89218","command":"ssh","args":"localhost gap -L GAP_WORKSPACE","cr":true,"redo":false,"op":"string","name":"","x":730,"y":100,"wires":[["e5823f07.5ad24","a7f9e42b.9c1cd8"],["e5823f07.5ad24"],["e5823f07.5ad24"]]},{"id":"e5823f07.5ad24","type":"debug","z":"c2b3598e.b89218","name":"stdout","active":true,"console":"true","complete":"payload","x":920,"y":160,"wires":[]},{"id":"7731dbed.1d7934","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"Print(111111111^2);","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":40,"wires":[["4d333645.38b428"]]},{"id":"a7f9e42b.9c1cd8","type":"websocket out","z":"c2b3598e.b89218","name":"","server":"f31eba8c.b366e8","client":"","x":930,"y":100,"wires":[]},{"id":"ca562d5.372d7d","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"QUIT;","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":160,"wires":[["4d333645.38b428"]]},{"id":"4d333645.38b428","type":"function","z":"c2b3598e.b89218","name":"SIGQUIT","func":"if (msg.payload!=\"QUIT;\") {\n  return msg;\n  } else {\n    delete msg.payload;\n    msg.kill=\"SIGQUIT\";\n    var msg2={};\n    msg2.start=\"\";\n    return [msg,msg2];\n    }","outputs":"2","noerr":0,"x":380,"y":100,"wires":[["4509e5aa.330bbc"],["77c4656c.b10a6c"]]},{"id":"9b6c196e.7222c8","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0:0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":340,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"823a2d38.b69a2","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0:5","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":380,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"96f8d4a2.b91d58","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0:100","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":420,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"aec877c0.740138","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":890,"y":120,"wires":[]},{"id":"9f85c583.f6dd68","type":"websocket out","z":"70999eba.a8373","name":"","server":"35d91a7f.15f336","client":"","x":960,"y":180,"wires":[]},{"id":"8fdb65f1.47e308","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":240,"wires":[["f55f2da4.4a45e"]]},{"id":"902329d4.991938","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":280,"wires":[["f55f2da4.4a45e"]]},{"id":"9451c2df.82d97","type":"rbe","z":"70999eba.a8373","name":"","func":"rbe","gap":"","start":"","inout":"out","x":450,"y":180,"wires":[["f55f2da4.4a45e"]]},{"id":"db129fed.8e04d","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"df","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":800,"wires":[["fce02499.d4da28"]]},{"id":"21020eec.02bad2","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"exit","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":880,"wires":[["fce02499.d4da28"]]},{"id":"86acd1ab.cc4a2","type":"websocket in","z":"70999eba.a8373","name":"","server":"b2c9e23.b31e62","client":"","x":230,"y":700,"wires":[["fce02499.d4da28"]]},{"id":"5f4e5ecf.ffa18","type":"websocket out","z":"70999eba.a8373","name":"","server":"b2c9e23.b31e62","client":"","x":680,"y":680,"wires":[]},{"id":"f55f2da4.4a45e","type":"function","z":"70999eba.a8373","name":"macht aus \"1\" \"0:0\" und aus \"0\" \"0:10\"","func":"if (msg.payload==\"1\") {\n  msg.payload=\"0:0\";\n  } else {\n    msg.payload=\"0:10\"\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["aec877c0.740138","9f85c583.f6dd68","4a0c52b8.ba0d7c"]]},{"id":"22f5ea4c.8ef4d6","type":"http in","z":"c2b3598e.b89218","name":"","url":"/index.html","method":"get","swaggerDoc":"","x":220,"y":400,"wires":[["5d9fe724.6eeb28","541f3851.b468b8"]]},{"id":"6d9b0e2f.87f7f","type":"comment","z":"c2b3598e.b89218","name":"http","info":"http","x":70,"y":400,"wires":[]},{"id":"5d9fe724.6eeb28","type":"file in","z":"c2b3598e.b89218","name":"","filename":"/home/pi/index.html","format":"utf8","x":440,"y":400,"wires":[["5dd3fe9d.b987b"]]},{"id":"5dd3fe9d.b987b","type":"http response","z":"c2b3598e.b89218","name":"","x":630,"y":400,"wires":[]},{"id":"541f3851.b468b8","type":"debug","z":"c2b3598e.b89218","name":"","active":true,"console":"true","complete":"payload","x":410,"y":440,"wires":[]},{"id":"e16784d1.ac2ad8","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"ls","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":760,"wires":[["fce02499.d4da28"]]},{"id":"15436ee3.9581e1","type":"comment","z":"70999eba.a8373","name":"ssh","info":"","x":50,"y":700,"wires":[]},{"id":"fce02499.d4da28","type":"daemon","z":"70999eba.a8373","command":"ssh","args":"pi@localhost","cr":true,"redo":true,"op":"string","name":"ssh pi@localhost","x":450,"y":700,"wires":[["92ab3549.914f68","5f4e5ecf.ffa18"],["92ab3549.914f68"],["92ab3549.914f68"]]},{"id":"92ab3549.914f68","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":670,"y":740,"wires":[]},{"id":"49e962b5.073abc","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"pigs br1 br2","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":840,"wires":[["fce02499.d4da28"]]},{"id":"fb42ef3.7e0651","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"1:0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":540,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"dd08a7a8.baffc8","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"1:1","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":580,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"77c4656c.b10a6c","type":"delay","z":"c2b3598e.b89218","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":160,"wires":[["4509e5aa.330bbc"]]}]