.node-red/flows_raspberrypi.json
[{"id":"70999eba.a8373","type":"tab","label":"Flow 1"},{"id":"c2b3598e.b89218","type":"tab","label":"Flow 2"},{"id":"10374ee7.0ad6b1","type":"websocket-listener","z":"","path":"/ws/shutdown","wholemsg":"false"},{"id":"8c0ec30e.c4bb9","type":"websocket-client","z":"","path":"ws://192.168.2.101:1880/ws/gpio","wholemsg":"false"},{"id":"f31eba8c.b366e8","type":"websocket-listener","z":"","path":"/ws/gap","wholemsg":"false"},{"id":"35d91a7f.15f336","type":"websocket-listener","z":"","path":"/ws/logfile","wholemsg":"false"},{"id":"a8faf616.c76988","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":40,"wires":[["fd88e586.fc1a68"]]},{"id":"fd88e586.fc1a68","type":"exec","z":"70999eba.a8373","command":"sudo shutdown -Ph 0","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":400,"y":40,"wires":[["ca927afd.3a7178"],[],[]]},{"id":"ca927afd.3a7178","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"payload","x":590,"y":40,"wires":[]},{"id":"783368a8.8c1af8","type":"comment","z":"70999eba.a8373","name":"Shutdown","info":"","x":60,"y":40,"wires":[]},{"id":"ff8428e4.27d198","type":"websocket in","z":"70999eba.a8373","name":"Shutdown","server":"10374ee7.0ad6b1","client":"","x":240,"y":80,"wires":[["fd88e586.fc1a68","ca927afd.3a7178"]]},{"id":"cf651286.ec5fa","type":"comment","z":"70999eba.a8373","name":"GPIO","info":"","x":50,"y":180,"wires":[]},{"id":"afc12ccd.def9a","type":"rpi-gpio in","z":"70999eba.a8373","name":"GPIO4 - Pin 7","pin":"7","intype":"up","debounce":"25","read":false,"x":210,"y":180,"wires":[["10412d64.dc67e3"]]},{"id":"4a0c52b8.ba0d7c","type":"websocket out","z":"70999eba.a8373","name":"zum Brett","server":"","client":"8c0ec30e.c4bb9","x":580,"y":380,"wires":[]},{"id":"f51ea478.5e9168","type":"file in","z":"70999eba.a8373","name":"","filename":".node-red/flows_raspberrypi.json","format":"utf8","x":460,"y":480,"wires":[["aac358c5.3fced8"]]},{"id":"3fb146ef.31751a","type":"comment","z":"70999eba.a8373","name":"flow","info":"","x":50,"y":480,"wires":[]},{"id":"4f6b31f8.0001b","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":480,"wires":[["f51ea478.5e9168"]]},{"id":"a17c6121.2af53","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":990,"y":480,"wires":[]},{"id":"aac358c5.3fced8","type":"json","z":"70999eba.a8373","name":"","x":690,"y":480,"wires":[["7d285ef1.10964"]]},{"id":"7d285ef1.10964","type":"function","z":"70999eba.a8373","name":"","func":"msg.payload=msg.payload;//[1];\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":480,"wires":[["a17c6121.2af53"]]},{"id":"d49429dc.67d418","type":"websocket in","z":"c2b3598e.b89218","name":"","server":"f31eba8c.b366e8","client":"","x":241.86705780029297,"y":114.90473937988281,"wires":[["4509e5aa.330bbc"]]},{"id":"4509e5aa.330bbc","type":"daemon","z":"c2b3598e.b89218","command":"gap","args":"-x 4096 -L GAP_WORKSPACE","cr":true,"redo":true,"op":"string","name":"","x":414.8524742126465,"y":105.92468643188477,"wires":[["e5823f07.5ad24","a7f9e42b.9c1cd8"],["e5823f07.5ad24"],["e5823f07.5ad24"]]},{"id":"e5823f07.5ad24","type":"debug","z":"c2b3598e.b89218","name":"","active":true,"console":"true","complete":"payload","x":684.1397094726562,"y":62.06800079345703,"wires":[]},{"id":"7731dbed.1d7934","type":"inject","z":"c2b3598e.b89218","name":"Print(100*100,\"\\n\",100^100);","topic":"","payload":"Print(100*100,\"\\n\",100^100);","payloadType":"str","repeat":"","crontab":"","once":false,"x":283.5487823486328,"y":66.95149230957031,"wires":[["4509e5aa.330bbc"]]},{"id":"80686e59.047d2","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"QUIT;","payloadType":"str","repeat":"","crontab":"","once":false,"x":239.41998672485352,"y":24.694990158081055,"wires":[["4509e5aa.330bbc"]]},{"id":"a7f9e42b.9c1cd8","type":"websocket out","z":"c2b3598e.b89218","name":"","server":"f31eba8c.b366e8","client":"","x":713.5040283203125,"y":118.65644836425781,"wires":[]},{"id":"e368b5a.5ccc048","type":"comment","z":"c2b3598e.b89218","name":"gap","info":"","x":70.24000549316406,"y":30.551002502441406,"wires":[]},{"id":"1a903e1f.366742","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":120,"wires":[["5d601e3d.b10b8"]]},{"id":"5d601e3d.b10b8","type":"exec","z":"70999eba.a8373","command":"sudo shutdown -r 0","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":380,"y":120,"wires":[[],[],[]]},{"id":"c6a504fc.971d78","type":"comment","z":"70999eba.a8373","name":"Reboot","info":"","x":50,"y":120,"wires":[]},{"id":"ca562d5.372d7d","type":"inject","z":"c2b3598e.b89218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210.5,"y":188,"wires":[["4d333645.38b428"]]},{"id":"4d333645.38b428","type":"function","z":"c2b3598e.b89218","name":"","func":"msg.kill=\"SIGINT\";\nmsg.payload=\"1+1;\";\nreturn msg;","outputs":1,"noerr":0,"x":359.4774475097656,"y":195.0663299560547,"wires":[["4509e5aa.330bbc","e5823f07.5ad24"]]},{"id":"9b6c196e.7222c8","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":340,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"823a2d38.b69a2","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":380,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"96f8d4a2.b91d58","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":420,"wires":[["4a0c52b8.ba0d7c"]]},{"id":"aec877c0.740138","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":790,"y":120,"wires":[]},{"id":"10412d64.dc67e3","type":"template","z":"70999eba.a8373","name":"macht aus 1 10 und aus 0 00","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}0","x":440,"y":180,"wires":[["4a0c52b8.ba0d7c","aec877c0.740138","9f85c583.f6dd68"]]},{"id":"9f85c583.f6dd68","type":"websocket out","z":"70999eba.a8373","name":"","server":"35d91a7f.15f336","client":"","x":800,"y":180,"wires":[]},{"id":"8fdb65f1.47e308","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":240,"wires":[["10412d64.dc67e3"]]},{"id":"902329d4.991938","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":280,"wires":[["10412d64.dc67e3"]]}]