.node-red/flows_raspberrypi.json
[{"id":"70999eba.a8373","type":"tab","label":"Flow 1"},{"id":"10374ee7.0ad6b1","type":"websocket-listener","z":"","path":"/ws/shutdown","wholemsg":"false"},{"id":"8c0ec30e.c4bb9","type":"websocket-client","z":"","path":"ws://192.168.2.100:1880/ws/schaltpult","wholemsg":"false"},{"id":"a8faf616.c76988","type":"inject","z":"70999eba.a8373","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":232.197021484375,"y":35.375,"wires":[["fd88e586.fc1a68"]]},{"id":"fd88e586.fc1a68","type":"exec","z":"70999eba.a8373","command":"sudo shutdown -Ph 0","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":392.23992919921875,"y":34.97599792480469,"wires":[["ca927afd.3a7178"],[],[]]},{"id":"ca927afd.3a7178","type":"debug","z":"70999eba.a8373","name":"","active":true,"console":"false","complete":"false","x":581.2769470214844,"y":22.19800567626953,"wires":[]},{"id":"783368a8.8c1af8","type":"comment","z":"70999eba.a8373","name":"Shutdown","info":"","x":67.5,"y":34.03599548339844,"wires":[]},{"id":"ff8428e4.27d198","type":"websocket in","z":"70999eba.a8373","name":"Shutdown","server":"10374ee7.0ad6b1","client":"","x":231.38201904296875,"y":77.10697174072266,"wires":[["fd88e586.fc1a68","ca927afd.3a7178"]]},{"id":"cf651286.ec5fa","type":"comment","z":"70999eba.a8373","name":"GPIO","info":"","x":61.660003662109375,"y":146.5449981689453,"wires":[]},{"id":"afc12ccd.def9a","type":"rpi-gpio in","z":"70999eba.a8373","name":"GPIO4 - Pin 7","pin":"7","intype":"up","debounce":"25","read":false,"x":214.260986328125,"y":144.79400634765625,"wires":[[]]},{"id":"4a0c52b8.ba0d7c","type":"websocket out","z":"70999eba.a8373","name":"zum Brett","server":"","client":"8c0ec30e.c4bb9","x":578.1620178222656,"y":147.708984375,"wires":[]}]